
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center center">
  <h2 style="text-align: center; margin-top: 15px;">Your messages</h2>

  <div fxFill>
    <mat-card routerLink="/login" color="primary" class="card">
      <mat-card-header>
          <mat-card-title>Lawyer Lawyerman</mat-card-title>
          <mat-card-subtitle>Divorce</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h3 style = "white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Lawyer: So I've read through your case summary and I have a few questions</h3>
      </mat-card-content>
    </mat-card>
    <mat-card routerLink="/login" color="primary" class="card">
      <mat-card-header>
          <mat-card-title>Lawyer Lawyerman</mat-card-title>
          <mat-card-subtitle>Divorce</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h3 style = "white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Lawyer: So I've read through your case summary and I have a few questions</h3>
      </mat-card-content>
    </mat-card><mat-card routerLink="/login" color="primary" class="card">
      <mat-card-header>
          <mat-card-title>Lawyer Lawyerman</mat-card-title>
          <mat-card-subtitle>Divorce</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h3 style = "white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Lawyer: So I've read through your case summary and I have a few questions</h3>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex fxLayoutAlign="center end" style="text-align: center;">
    <button class="button" type="submit" mat-raised-button color="primary" routerLink="/newCase">New case</button>
  </div>
</div>
