.img {
  width: 99%;
}
.container {
  min-height: 100%;
  min-width: 100%;
}
.search-form {
  min-width: 100%;
}

.textArea {
  text-align: center;
}

.mat-card{
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.mat-form-field {
  margin: 5px;
}

.mat-raised-button {
  width: 90%;
  margin: 10px;
}
