<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center center">
  <div fxFlex fxFlexAlign="center">
    <img mat-card-image class="img" src="assets\img\Logo-big.png">
  </div>
  <div fxFlex="10"></div>
  <div fxFlex="30" fxFlexAlign="center" style="text-align: center;">
    <h2>Are you seeking legal advice?</h2>
    <button mat-raised-button color="primary" routerLink="client">Client</button>

    <h2>Are you looking to give legal advice?</h2>
    <button mat-raised-button color="primary">Advisor</button>
  </div>
</div>
